{% extends 'layout.html' %}

{% block title %}Home | Open Terminal{% endblock %}

{% block content %}
    <header class="flex flex-col items-center justify-center min-h-screen text-center">
        <h1 class="text-4xl font-extrabold text-white mb-4">Welcome to Open Terminal</h1>
        <p class="text-gray-300 mb-6">Empowering Traders with Precision and Speed</p>
        <a href="{{ url_for('main.about') }}" class="px-6 py-3 bg-blue-500 text-white rounded-md hover:bg-blue-600">Learn More</a>
    </header>
{% endblock %}